####################################################################
# Useful packages to install
####################################################################
packages='build-essential git git-core curl wget zip unzip unattended-upgrades python-setuptools gnupg'

####################################################################
# Name of user to create
####################################################################
user='peter'

####################################################################
# Password of the user created above
####################################################################
user_password='$6$rounds=100000$r2DvUWNVReVMgErI$thwYEluyYIicV8GG6BI8rfPnJgUBO7SWIp47Zz1gJ/ZtXYq1CrROUVdmstX8Qg2IouW.dnpPmeDvgRas5GlCY.'

####################################################################
# Name of users to bootstrap my dotfiles repo
####################################################################
dotfile_users_setup=('peter' 'vagrant')

####################################################################
# Parent directory of the files to restore
####################################################################
files_to_restore='/tmp/restore'

####################################################################
# Name of the PHP pool user to create
####################################################################
php_pool_user='wwwte-data'

####################################################################
# Path to PHP pool config to restore
####################################################################
php_pool_www="$files_to_restore/php/pool.d/www.conf"
php_pool_wwwte="$files_to_restore/php/pool.d/wwwte.conf"

####################################################################
# Path to php.ini config to restore to /etc/php5/fpm/php.ini
####################################################################
php_ini="$files_to_restore/php/php.ini"

####################################################################
# Path to php-fpm.conf to restore to /etc/php5/fpm/php-fpm.conf
####################################################################
php_fpm_conf="$files_to_restore/php/php-fpm.conf"

####################################################################
# Nginx config files to restore
# All files in this directory and subdirectories will be copied to /etc/nginx/
####################################################################
nginx_config_files="$files_to_restore/nginx/*"

####################################################################
# Nginx vhosts to activate
####################################################################
activate_vhosts=('techexplored.com')

####################################################################
# 0 - do not apply
# 1 - apply
####################################################################
harden_sysctl=1
dist_upgrade=1
install_nginx=1
create_swap=1
secure_shared_memory=1
protect_su=1
install_zsh=1
prevent_ip_spoofing=1